In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

from src.preprocess.make_dataset import make_labeled_data, read_label_studio_json
from src.utils.plot import *

In [2]:
labels = read_label_studio_json('data/label/labels.json')
df = pd.read_csv('./data/raw/2330_stock_data_from_2016.csv', parse_dates=['Date'])

dataset = make_labeled_data(df, labels)
dataset.head(20)

d:\cnn-trend-classifier\src\preprocess\make_dataset.py:60: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UP' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df['Date'] >= start_date) & (df['Date'] <= end_date), 'UpTrend'] = label
d:\cnn-trend-classifier\src\preprocess\make_dataset.py:63: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'DOWN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df['Date'] >= start_date) & (df['Date'] <= end_date), 'DownTrend'] = label

         Date   Open   High    Low  Close UpTrend DownTrend
0  2016-01-04  142.5  143.5  139.0  139.5     NaN       NaN
1  2016-01-05  139.0  140.0  137.0  138.0     NaN       NaN
2  2016-01-06  138.0  138.0  135.0  135.5     NaN       NaN
3  2016-01-07  134.5  135.0  130.5  133.0     NaN       NaN
4  2016-01-08  132.0  135.0  132.0  134.0     NaN       NaN
5  2016-01-11  133.0  134.5  130.5  133.0     NaN       NaN
6  2016-01-12  133.0  134.0  131.5  133.0     NaN       NaN
7  2016-01-13  133.5  135.5  133.0  133.5     NaN       NaN
8  2016-01-14  130.5  132.0  130.5  131.5      UP       NaN
9  2016-01-15  137.5  138.0  135.5  137.0      UP       NaN
10 2016-01-18  135.0  138.0  134.5  137.0      UP       NaN
11 2016-01-19  137.5  138.0  136.0  138.0      UP       NaN
12 2016-01-20  137.5  137.5  133.5  134.5      UP       NaN
13 2016-01-21  134.0  136.5  134.0  135.0      UP       NaN
14 2016-01-22  136.5  138.5  136.0  138.5      UP       NaN
15 2016-01-25  140.0  140.0  139.0  139.5      UP       NaN
16 2016-01-26  137.5  139.0  137.0  137.5      UP       NaN
17 2016-01-27  139.0  139.5  138.5  139.5      UP       NaN
18 2016-01-28  138.0  140.5  138.0  140.0      UP       NaN
19 2016-01-29  138.5  143.0  138.0  143.0      UP       NaN

In [3]:
dataset.to_csv('data.csv')